*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    font-family: 'Kanit', monospace, sans-serif;
}

nav {
    background-color: black;
    padding: 20px 80px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel {
    display: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: cyan;
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none; 
    gap: 20px;
}
ul li {
    gap: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1.5px solid cyan;
    background-color: transparent;
    color: cyan;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: cyan;
    color: black;
    border-bottom: 1.5px solid cyan;
    transition: .5s;
}

ul li:hover {
    border-bottom: 1.5px solid cyan;
    padding-bottom: 5px;
    transition: 0.5s;
}
.bar {
    display: none;
}

.dropdown {
    display: none;
}

.hero {
    background: url(./Images/Backround.avif);
    height: 90vh;
    width: 100%;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}
.hero_content {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_text h1 {
    font-size: 75px;
    color: white;
    width: 60%;
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    font-weight: 700;
}

.hero_text p {
    margin: 10px auto;
    color: white;
    width: 70%;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.btn_one, .btn_two {
    padding: 15px 25px;
    border-radius: 20px;
    background-color: black;
    color: cyan;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    border: none;
}

.btn_two {
    padding: 15px 25px;
    border-radius: 20px;
    border: 1.5px solid cyan;
    background-color: transparent;
    color: cyan;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

.score {
    background-color: #1a1a1a;
    width: 100%;
    height: 300px;
    padding: 50px 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score_content {
    display: flex;
    color: white;
    text-align: center;
    gap: 120px;
}

.score_text h1 {
    font-size: 40px;
    color: cyan;
    font-weight: 600;
}

.score_text p {
    font-size: 16px;
    opacity: 0.8;
}

.props {
    padding: 80px 180px 0;
}
.props_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.props_text h1 {
    font-size: 40px;
    width: 80%;
    margin-bottom: 20px;
    line-height: 60px;
    font-weight: 600;
}
.props_text p {
    opacity: 0.8;
    font-size: 16px;
    width: 70%;
    line-height: 25px;
    margin-bottom: 30px;
}

.props2 {
    padding: 0px 180px;
}
.props2_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 150px;
}
.props2_text h1 {
    font-size: 40px;
    width: 80%;
    margin-bottom: 20px;
    line-height: 60px;
    font-weight: 600;
}
.props2_text p {
    opacity: 0.8;
    font-size: 16px;
    width: 70%;
    line-height: 25px;
    margin-bottom: 30px;
}

.list {
    padding: 50px 180px 80px;
}
.list_header {
    color: white;
}

.list_header h1 {
    font-size: 40px;
    line-height: 60px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
}
.list_header p {
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
    opacity: 0.8;
}

.card {
    columns: 2;
   display: flex;
   justify-content: space-between;
   gap: 60px;
}
.card_content {
    background-color: #1a1a1a;
    padding: 50px;
    border-radius: 20px;
    color: white;
    margin-top: 80px;
}

.card_content img {
    width: 400px;
    height: 400px;
}

.card_content img:hover{
    transform: scale(0.9);
    transition: 0.7s;
}
.card_content h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}

.card_content p {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 40px;
}

.action {
    margin: 50px 180px 100px;
    background: url(./Images/Backround.avif);
    border-radius: 20px;
    background-position: center;
    background-size: 100%;
    height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}

.action h1 {
    font-size: 40px;
    width: 60%;
    line-height: 45px;
    margin-bottom: 20px;
    font-weight: 600;
}

.action p {
    margin-bottom: 40px;
    font-size: 16px;
}

.action button {
    background-color: #000;
    padding: 15px 30px;
}
.action button:hover {
    background-color: transparent;
    border: 1.5px solid cyan;
    color: black;
}

footer {
    padding: 50px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Mobile Responsive */

@media screen and (max-width: 768px) {
    .bar {
        display: block;
    }
    nav {
        padding: 25px;
    }
    .nav_btn, nav ul {
        display: none;
    }
    /* Dropdown Menu */
    .dropdown {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
        height: 70vh;
        width: 100%;
        background-color: rgb(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        flex-direction: column;
    }
    .dropdown li {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    .dropdown button {
       margin: 50px auto 0;

    }
    .dropdown li a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    .dropdown li a:hover {
        border-bottom: 1.5px solid cyan;
        padding-bottom: 5px;
        transition: 0.5s;
    }
    
   .cancel {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-left: 20px;
   }
   .drop_btn {
    display: flex;
    justify-content: center;
   }
    .hero_content {
        padding: 0 20px;
    }
   .hero_text h1 {
    font-size: 37px;
    width: 100%;
   }

   .hero_text p {
    font-size: 14px;
    width: 100%;
   }

   .score {
    padding: 50px 20px;
    flex-direction: column;
    height: 100%;
   }
   .score_content {
    flex-direction: column;
    gap: 60px;
   }

   .score_text h1 {
    font-size: 32px;
   }

   .score_text p {
    font-size: 14px;
   }

   .props {
    padding: 80px 20px 0;
   }

   .props_content {
    flex-direction: column;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
   }

   .props_text h1 {
    width: 100%;
    font-size: 32px;
    line-height: 50px;
   }
   .props_content img {
    width: 100%;
    height: 100%;
   }
   .props_text p {
    width: 100%;
    font-size: 14px;
   }

   .props2 {
    padding: 80px 20px 0;

   }

   .props2_content {
    flex-direction: column-reverse;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }

   .props2_text h1 {
    width: 100%;
    font-size: 32px;
    line-height: 50px;
   }
   .props2_content img {
    width: 100%;
    height: 100%;
    margin: 0;
   }
   .props2_text p {
    width: 100%;
    font-size: 14px;
   }



   .list {
    padding: 50px 20px 0;
   }
   .list_header {
    margin-bottom: 40px;
   }
   .list_header h1 {
    width: 100%;
    font-size: 32px;
    line-height: 50px;
   }

   .list_header p {
    width: 100%;
    font-size: 14px;
   }

   .card {
    flex-direction: column;
    gap: 10px;
   }

   .card_content {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
   }

   .card_content img {
    width: 100%;
    height: 100%;
   }

   .card_content h2 {
    font-size: 20px;
   }
   .card_content p {
    font-size: 14px;
   }

   .action {
    padding: 80px 40px;
    width: 90;
    margin: 20px;
    background-size: cover;
   }

   .action h1 {
    font-size: 32px;
    line-height: 40px;
    width: 100%;
   }

   footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }

   .social {
    columns: 3;
    padding: 20px;
   }

}